@charset "utf-8";

html,body,#container{
	height: 100%;

}

body #container{
	height: auto;
	min-height: 100%;
}

#content{
	padding-bottom: 5em;	

}
body{
	background:#E4DBBF;			/*Yellowish background*/
   	background-repeat: no-repeat;
	background-attachment: fixed;
    font-family: Palatino,Georgia,Times;
    color: #383127;
}


/*nav.menu div{
	border: groove #70AB8F 1px;
	border-radius:6px 6px 6px 6px;
}*/


div#userInfo{
	float:left top;
	margin-left:20px;
	margin-top: 20px;
	display:inline-block;
	border: solid #383127 1px;
	border-radius:6px 6px 6px 6px;
}

div.info{
	padding: 10px 10px 10px 10px;
}

.highlight{
	color:#60a282;
}

span.small, div.helpText,li.small,div.small{
    font-size: x-small;
}

/*.menu div{
        text-align: center;
        border:groove #383127 1px; 	
    	border-radius:6px 6px 6px 6px;
        background: #eae3cd;
        margin-right: 25px;
   	padding-top:20px;
  	padding-bottom: 20px;
        padding-right: 20px;
        padding-left:20px;

}
*/

div.logo, div.brand,div#aboutContainer{
	display:block;
	/*margin-top: 60px;*/
	margin-bottom: 50px;
	margin-left: auto;
	margin-right:auto;
	text-align:center;
	/*float:center;*/	
}
div.brand{
	margin-top: 60px;
}

div.authentication{
	border: groove #383127 1px;
	border-radius:10px 10px 10px 10px;
	width:45%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom:100px;
	
}
div#aboutContainer{
	border: groove #60a282 1px;
	border-radius:10px 10px 10px 10px;
	width:80%;
	padding: 50px;
}

div#aboutContainer h3{
	color: #DC5B21;
	text-decoration: underline;
}
div#aboutContainer ul{
	list-style-type:none;
}
 
div.authentication div.message{
	padding-bottom: 20px; 
 
}

div.error,ul.errorlist li{
	color: red;	
	margin-bottom: 5px;
}

ul.errorlist{
	list-style-type: none;
}

span.small{
    font-size: x-small;
}

#footer{
	clear:both;
	position:relative;
	z-index:10
	height:5em;
	margin-top: -3em;

}

div.dateInfo{
	margin-left: 10px;
}






