@charset "utf-8";
@viewport {
	width: 320px auto;
}

body{
	background:#E4DBBF;			/*Yellowish background*/
   	background-repeat: no-repeat;
	background-attachment: fixed;
        font-family: Palatino,Georgia,Times;
        color: #383127;
}





/*nav.menu div{
	border: groove #70AB8F 1px;
	border-radius:6px 6px 6px 6px;
}*/
div#userInfo{
	float:left top;
	margin-left:20px;
	margin-top: 20px;
	display:inline-block;
	border: solid #383127 1px;
	border-radius:6px 6px 6px 6px;
}

div#toShareFrom,div#viewShare{
	margin-right: 100px;
}
span.highlight{

	color:#60a282;
}

span.small, div.helpText,li.small,div.small{
     	font-size: x-small;
}

/*.menu div{
        text-align: center;
        border:groove #383127 1px; 	
    	border-radius:6px 6px 6px 6px;
        background: #eae3cd;
        margin-right: 25px;
   	padding-top:20px;
  	padding-bottom: 20px;
        padding-right: 20px;
        padding-left:20px;

}
*/

div.logo, div.brand,div#loading{
	display:block;
	margin-top: 60px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right:auto;
	text-align:center;
	/*float:center;*/	
}

div.authentication{
	border: groove #383127 1px;
	border-radius:10px 10px 10px 10px;
	width:90%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom:100px;
	padding-left: 5%;
	padding-right: 5%;
	
}
 
div.authentication div.message{
	padding-bottom: 20px; 
 
}

div.error,ul.errorlist li{
	color: red;	
}

ul.errorlist{
	list-style-type: none;
}

span.small{
     	font-size: x-small;
}
div#signedInInfo,div#settingsInfo{
	margin-bottom: 20px;
	margin-top: 20px;
}

div.brand{
	text-align:center;

}



