{% load browserid %}
{% load staticfiles %}
<html>
  <title>{% block title%}  {% endblock %}</title>
  <head>
    <link href={% static "css/pageStyle.css" %} rel="stylesheet" type="text/css">
    <link rel="SHORTCUT ICON" href={% static "images/logo.png" %}>
    {% browserid_css %}
    {% block head %} {% endblock %}
  </head>
  <body>
  <center>
  <div class="logo">
  	<div><img src={% static "images/logo.png" %} title="logo by Shweta"/></div>
  	<div><span class="small">Sync & Share</span></div>
  </div>
  </center>
  <!--nav class="menu">
  	<div class="menuBar">
		  {% if user.is_authenticated %}
			  <div id="toShareFrom">
			  	<a href="/share/">Share</a>
			  </div>

			  <div  id="viewShare">
			  	<a href="/view/share/">My shared items</a>
			  </div>
		  {% endif %}
		  <div  id="userInfo">
		  {% if user.is_authenticated %} 
		    {{ user.email }} 
		  {% else %}
		    <a href="/login/">Login<a>
		   {% endif %}
		   </div>
	</div>
   </nav-->
  <center> 
    {% browserid_info %}
    {% block info %} {% endblock %}
    
    <header>
    <!--link href="/css/persona-buttons.css" rel="stylesheet" type="text/css"-->
      
   
      {% block content %}
      
      
      {% endblock %}
	</center>
    </header>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    {% browserid_js %}
    {% block script %} {% endblock %}
    
  </body>
</html>
