{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Sync & Share-Welcome {% endblock %}
{% block content %}

	<div class="main">
	<h3 class="mainTitle"> Recent synced Bookmarks </h3>
	{% if bookmarks %}
		{% for b in bookmarks %}
			<div class="item">
				<p> The {{ b.title }} was saved on {{ b.addedDate | date:"D d M Y" }}</p>
			</div>
		{% endfor %}
	{% else %}
		<div class="item">
			<p> Nothing synced yet!</p>
		</div>
	{% endif %}
	</div>
	<div class="main">
	<h3 class="mainTitle"> Recent synced History </h3>
	{% if history %}
		{% for h in history %}
			<div class="item">
				<p> The {{ h.title }} was saved on {{ h.addedDate | date:"D d M Y" }}</p>
			</div>
		{% endfor %}
	{% else %}
		<div class="item">
			<p> Nothing synced yet!</p>
		</div>
	{% endif %}
	</div>
	<div class="main">
	<h3 class="mainTitle"> Recent synced History </h3>
	{% if tabs %}
		{% for t in tabs %}
			<div class="item">
				<p> The {{ t.title }} was saved on {{ t.addedDate | date:"D d M Y" }}</p>
			</div>
		{% endfor %}
	{% else %}
		<div class="item">
			<p> Nothing synced yet!</p>
		</div>
	{% endif %}
	</div>
	<div class="main">
	<h3 class="mainTitle"> Recent saved Items </h3>
	{% if savedItems %}
		{% for s in savedItems %}
			<div class="item">
				<p> The {{ s.title }} was saved on {{ s.addedDate | date:"D d M Y" }} <span class="small">({{ s.typeOf }})</span></p>
			</div>
		{% endfor %}
	{% else %}
		<div class="item">
			<p> Nothing saved yet!</p>
		</div>
	{% endif %}
	</div>
	<div class="main">
	<h3 class="mainTitle"> Recent shared Items </h3>
	{% if shared %}
		{% for sh in shared %}
			<div class="item">
				<p> The {{ sh.title }} was saved on {{ sh.addedDate | date:"D d M Y" }}
					<span class="small">
						Shared with:
						{% if sh.typeOf_share == email %}
							{% for e in sh.shared_with_emails %}
								{{ e.email }}, 
							{% endfor %}
						{% else %}
							{% for g in sh.shared_with_group %}
								{{ g.groupName }}, 
							{% endfor %}
						{% endif %}
					</span>
				
				</p>
			</div>
		{% endfor %}
	{% else %}
		<div class="item">
			<p> Nothing synced yet!</p>
		</div>
	{% endif %}
	</div>
{% endblock %}
