body{
	background:#E4DBBF;			/*Yellowish background*/
   	background-repeat: no-repeat;
	background-attachment: fixed;
    font-family: Palatino,Georgia,Times;

}
nav.menu ul li,nav.optionsMenu ul li{
	display: block;
    font-size: x-large;
   	color: #DC5B21;				/*Orange*/
	text-align: center;
}	

li#tab a,li#bookmark a,li#history a,li#options a{
	text-decoration: none;
}


nav.menu div:hover,
nav.menu div:active,
div.content .item:hover,
nav.optionsMenu div:hover,
nav.optionsMenu div:active
{
        background:#eae3cd;	/*When an item is hovered, a personal background is shown.*/
        border:1px solid #70AB8F;	/*Greenish border*/
}
.menu div,.optionsMenu div{
        text-align: center;
        border:groove #383127 1px; 	
    	border-radius:6px 6px 6px 6px;
        background: #eae3cd;
        margin-right: 25px;
   	padding-top:20px;
  	padding-bottom: 20px;
        padding-right: 20px;
        padding-left:20px;

}

.hidden{
	display:none;
}

.shown{
	visibility: visible;
}


div#content{      
         margin-left:0px;
         margin-right: 0px;
}
div.item{
    border-bottom:solid #383127 1px;
    margin-left: 0px;
	/*text-align: center;*/
	padding-top: 10px;
    padding-bottom: 10px;
    color: #383127;
    background:  #E4DBBF;
}

div.item:first-child{
	border-top:solid #383127 1px;
}
a,span.small,div#contentTitle,hr{
     	color: #383127;
}

span.small,div.small,a.small{
     	font-size: x-small;
}


div.title{
    	font-size: x-large;
    	text-align: center;
   	font-weight: bold;
  	padding-bottom: 20px;
}

hr{
    width: 20%;

}


ul.device{
	background: url(images/plus-hand.png) no-repeat left top;
	background-size: 15px 15px;
	display:block;
	padding: 0px 0px 0px 20px;
	margin:0px;
}

div.deviceName{
	border

}

ul li{
	list-style-type:none;
}


span.imageHolder{
	padding-right: 5px;
}
.url{
	text-overflow: ellipsis;
   	display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    font-size: x-small;

}
span.info{
	margin-left: 5px;

}

div.logo,div#footer{
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align:center;
	border:none;
		
}

/*div.deviceWrapper{
	border:solid #383127 1px;
         border-radius:6px 6px 6px 6px;
         margin-left: 0px;
         margin-top: 10px;
         margin-bottom: 10px;
	 padding-top: 10px;
         padding-bottom: 10px;
         padding-left: 20px;
         color: #383127;  
         box-shadow: 10px 10px 5px #888888;
}
div.deviceWrapper:hover{
          border:1px solid #70AB8F;	/*Greenish border*/
 /*         background: #eae3cd;		/*Lighter background*/
 /*         box-shadow: 20px 20px 15px #888888;
          
}*/


