body{
	background:#E4DBBF;			/*Yellowish background*/
   	background-repeat: no-repeat;
	background-attachment: fixed;
        font-family: Palatino,Georgia,Times;
        color: #383127;
}

div.mainTitle{
    	font-size: x-large;
    	text-align: center;
   	font-weight: bold;
  	padding-bottom: 10px;
  	padding-top: 10px;
}

div.form,div.shareView,div.noShare{
	text-align: left;
	margin: 0px 150px 20px 150px; /*top right bottom left*/
       	border:groove #383127 0px; 	
    	border-radius:10px 10px 10px 10px;
        padding: 40px 20px 40px 20px;	
}


div.textInput{
	text-align: center;
	border-bottom:solid #383127 1px;
        border:solid #383127 1px;
        border-radius:6px 6px 6px 6px;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom:50px;
        margin-top: 50px;
        margin-right: 20px;
}

div.item,div.share,div.syncError,div.shareError,div.autoSync{
         border:solid #383127 1px;
         border-radius:6px 6px 6px 6px;
         margin-left: 0px;
         margin-top: 10px;
         margin-bottom: 10px;
	 padding-top: 10px;
         padding-bottom: 10px;
         padding-left: 20px;
         color: #383127;       
}

div.item,div.share,div.textInput{
	box-shadow: 10px 10px 5px #888888;
	

}

div.item:hover,div.textInput:hover{
          border:1px solid #70AB8F;	/*Greenish border*/
          background: #eae3cd;		/*Lighter background*/
          box-shadow: 20px 20px 15px #888888;
          
}
span.highlight{

	color:#60a282;
}
a,span.small{
     	color: #383127;
}
span.small, div.helpText,li.small{
     	font-size: x-small;
}

.button,select#selectTypeWhom{
        border:1px groove #383127;
        border-radius:6px 6px 6px 6px;
        margin-bottom:10px;
        background: #70AB8F;
        padding: 10px 20px 10px 20px;	/*top right bottom left*/
	margin-top: 30px;
	font-size: large;
	cursor: pointer;
}


.hidden{
	/*visibility: hidden;*/
	display:none;
}

.shown{
	visibility: visible;
}

span img.image:hover{
	cursor:pointer;

}
span.imageContainer{
	padding-left: 20px;
}
li.small,div.item ul li{
    list-style-type: none;
    padding-left: 50px;
}

/*li.showLi{
	display: list-item;
}*/

ul.hiding{
	background-image:url(/static/images/arrow-right.png);
	background-repeat:no-repeat;
	/*position: absolute;*/
}

ul.showing{
	background-image:url(/static/images/arrow-down.png);
	background-repeat:no-repeat;
	/*position: absolute;*/
}

li.folder{
	background-image:url(/static/images/folder.png);
	background-size: 24px 24px;
	background-repeat:no-repeat;
	background-position:left center fixed; 
	padding-left:45px;
	list-style-type:none;

}

li.notFolder{

	list-style-type: none;
}















