Django==1.5
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-browserid==0.11.1
django-grappelli==2.6.3
django-mobile==0.4.0
django-mptt==0.6.1
django-toolbelt==0.0.1
fancy-tag==0.2.0
gunicorn==19.0.0
importlib==1.0.3
pandokia==1.3.10
psycopg2==2.5.3
requests==2.3.0
six==1.9.0
static3==0.5.1
whitenoise==1.0.6
wsgiref==0.1.2
